<p id="notice"><%= notice %></p>

<h1>Bus Lines</h1><br>

<%= link_to 'Back', buses_path, :class => "btn btn-default" %>
<%= link_to 'New Bus Line', new_bus_line_path, :class => "btn btn-default" %>

<h3>Import a CSV File</h3>
  <%= form_tag import_bus_lines_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Linename</th>
      <th>Distance</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @bus_lines.each do |bus_line| %>
      <tr>
        <td><%= bus_line.linename %></td>
        <td><%= bus_line.distance %></td>
        <td><%= link_to 'View', bus_line, label: "View", :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_bus_line_path(bus_line), :class => "btn btn-warning" %></td>
        <td><%= link_to 'Delete', bus_line, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>




