<p id="notice"><%= notice %></p>

<p>
  <strong>Linename:</strong>
  <%= @bus_line.linename %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @bus_line.distance %>
</p>

<%= link_to 'Edit', edit_bus_line_path(@bus_line), :class => "btn btn-default"  %>
<%= link_to 'Back', bus_lines_path, :class => "btn btn-default"  %>
