<%= simple_form_for(@part) do |f| %>
  <%= f.error_notification id: 'user_error_message', class: 'form_error'%>

  <div class="form-inputs">
    <%= f.input :partname %>
    <%= f.input :part_number %>
     
    <div class="field">
    <%= f.label :BusModel_id %>
     <%= f.collection_select :BusModel_id, BusModel.order(:brand), :id, :brand,  include_blank: true %>
  </div>
    <%= f.input :index_number %>
    <%= f.input :price %>
    <%= f.input :lifespan %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
