<%= simple_form_for(@part) do |f| %>
  <%= f.error_notification id: 'user_error_message', class: 'form_error'%>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= f.input :partname %>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= f.input :part_number %>
  </div>
</div>


<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= f.input :group, collection: ['Tires'], :as => :check_boxes %>
    <%= f.input :serial_no %>
  </div>
  <div class="col-xs-12 col-md-6">
    <%= f.input :cpk, input_html: {value: f.object.cpk || '0'} %>
  </div>
</div>

<div class="row"> 
  <div class="col-xs-6 col-md-6">
    <%= f.label :bus_model_id %>
    <%= f.collection_select :bus_model_id, BusModel.order(:brand), :id, :brand, {:include_blank => true}, {class: "form-control"} %>
  </div>
  <div class="col-xs-6 col-md-6">
    <%= f.input :index_number %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-6">
    <%= f.input :price %>
  </div>
  <div class="col-xs-6 col-md-6">
    <%= f.input :lifespan %>
  </div>
</div>

<%= f.button :submit, :class => "btn btn-default" %>

<% end %>
