<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6 col-xs-3">
    <h1>Parts</h1>
  </div>

  <div class="col-md-6 col-xs-9">
    <div class="btn-group pull-right" role="group" aria-label="..." style="padding-top:18px;">
      <%= link_to '+ Part', new_part_path, :class => "btn btn-default" %>
      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCSV" aria-expanded="false" aria-controls="collapseExample">
        Import
      </button>
      <%= link_to "Export", parts_path(format: "csv"), :class => "btn btn-default" %> 
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3 pull-right">
  <div class="collapse" id="collapseCSV">
    <div class="well">
      <%= form_tag import_parts_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV", :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
  </div>
</div>
<br>

<div class="row">
<!--
<div class="col-md-2 col-xs-4">
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">Go</button>
  </span>
  <input type="text" class="form-control" placeholder="Search">
</div>
</div>
-->
<div class="col-md-2 col-xs-4">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%;">
      Model
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">All</a></li>
      <li role="separator" class="divider"></li>
      <% @parts.each do |part| %>
      <li>
        <% if !part.bus_model.nil? -%>
            <%= part.bus_model.brand %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<!--
<div class="col-md-2 col-xs-4">
  <a href="#">Advanced Filters</a>
</div>
-->
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Model</th>
      <th>Index No.</th>
      <th>Last Used</th>
      <th>Price (Php)</th>
      <!-- <th>Lifespan</th> -->
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @parts.each do |part| %>
      <tr>
        <td><%= part.partname %></td>
        <td><%= part.part_number %></td>
        <td>
        <% if !part.bus_model.nil? -%>
            <%= part.bus_model.brand %>
        <% end %>
        </td>
        <td><%= part.index_number %></td>
        <td><%= part.last_used %></td>
        <td><%= part.price %></td>
        <!-- <td><%= part.lifespan %></td> -->
        <td><%= link_to 'View', part, :class => "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_part_path(part), :class => "btn btn-default" %></td>
        <td><%= link_to 'Delete', part, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


