<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1><strong><%= @part.partname %></strong></h1>
    <table>
      <tr>
        <td style="padding-right: 10px;"><strong>Bus Model</strong></td>
        <td style="padding-right: 10px;">
          <% if !@part.bus_model.nil? %>
            <strong>Bus Model:</strong>
            <%= @part.bus_model.brand %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Index Number</strong></td>
        <td style="padding-right: 10px;"><%= @part.index_number %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Price</strong></td>
        <td style="padding-right: 10px;"><%= @part.price %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Lifespan</strong></td>
        <td style="padding-right: 10px;"><%= @part.lifespan %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Last Used</strong></td>
        <td style="padding-right: 10px;"><%= @part.last_used %></td>
      </tr>
      <% if !@part.parts_tire.nil? %>
      <tr>
        <td style="padding-right: 10px;"><strong>Serial Number</strong></td>
        <td style="padding-right: 10px;"><%= @part.parts_tire.serial_no %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Bus Number</strong></td>
        <td style="padding-right: 10px;"><%= @part.parts_tire.bus.bus_no %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>CPK</strong></td>
        <td style="padding-right: 10px;"><%= @part.parts_tire.cpk %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <%= link_to 'Edit', edit_part_path(@part), :class => "btn btn-default" %>
    <%= link_to 'Back', parts_path, :class => "btn btn-default" %>
  </div>
</div>

<h3>History</h3>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Date</th>
      <th>Bus</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.done %></td>
        <td><%= repair.datestarted.strftime("%x") %>-<%= repair.datefinished.strftime("%x") %></td>
        <td><%= repair.bus.bus_no %></td>
        <% repair.jobs.each do |job| %>
          <% job.job_parts.each do |job_part| %>
          <td><%= job_part.quantity %> <%= job_part.part.unit %></td>
          <td><%= job_part.cost %></td>
          <td><%= job_part.total %></td>
          <% end %>
          <% end %>
        <td><%= link_to 'View', repair, :class => "btn btn-default"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>