<p id="notice"><%= notice %></p>

<p>
  <strong>Partname:</strong>
  <%= @part.partname %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @part.part_number %>
</p>

<% if !@part.bus_model.nil? -%>
 <p>
  <strong>Bus model:</strong>
  <%= @part.bus_model.brand %>
</p>
<% end %>


<p>
  <strong>Index number:</strong>
  <%= @part.index_number %>
</p>

<p>
  <strong>Price:</strong>
  <%= @part.price %>
</p>

<p>
  <strong>Lifespan:</strong>
  <%= @part.lifespan %>
</p>

<p>
  <strong>Last Used:</strong>
  <%= @part.last_used %>
</p>

<%= link_to 'Edit', edit_part_path(@part), :class => "btn btn-default" %>
<%= link_to 'Back', parts_path, :class => "btn btn-default" %>
