<!--Form with header-->

<div class="row" style="margin:0 auto; width:320px;">

    <div class="card-block">
<!--Header-->
        <div class="text-center">
            <h3><i class="fa fa-lock"></i> Login:</h3>
            <hr class="mt-2 mb-2">
        </div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :username, required: :false, autofocus: true %>

    <%= f.input :password, required: :false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

   <div class="text-center">
  <div class="form-actions">
    <%= f.button :submit, "Log in"%>
  </div>
  </div>
<% end %>
<br>

 <!--Footer-->
    <div class="modal-footer">
        <div class="options">
            <%= render "users/shared/links" %>
        </div>
    </div>


</div>