<%= simple_form_for @mechanic do |f| %>
  <% if mechanic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mechanic.errors.count, "error") %> prohibited this mechanic from being saved:</h2>

      <ul>
      <% mechanic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <%= f.input :lastname, label: "Last Name" %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <%= f.input :position %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6">
      <%= f.input :skills %>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
      <%= f.input :shift %>
    </div>
    <div class="col-xs-6 col-md-6 col-lg-4">
      <%= f.input :avatar, as: :file %>
    </div>
  </div>
    <div class="actions">
      <%= f.submit :Submit, class: "btn btn-default" %>
    </div>
<% end %>
