<%= form_for(mechanic) do |f| %>
  <% if mechanic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mechanic.errors.count, "error") %> prohibited this mechanic from being saved:</h2>

      <ul>
      <% mechanic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lastname %>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    <%= f.label :firstname %>
    <%= f.text_field :firstname %>
  </div>

  <div class="field">
    <%= f.label :middlename %>
    <%= f.text_field :middlename %>
  </div>

  <div class="field">
    <%= f.label :type %>
    <%= f.text_field :type %>
  </div>

  <div class="field">
    <%= f.label :skills %>
    <%= f.text_field :skills %>
  </div>

  <div class="field">
    <%= f.label :shift %>
    <%= f.number_field :shift %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
