<%= simple_form_for @mechanic do |f| %>
  <% if mechanic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mechanic.errors.count, "error") %> prohibited this mechanic from being saved:</h2>

      <ul>
      <% mechanic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :lastname %>
    <%= f.input :firstname %>
    <%= f.input :middlename %>
    <%= f.input :type %>
    <%= f.input :skills %>
    <%= f.input :shift %>
    <%= f.input :avatar, as: :file %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
