<p id="notice"><%= notice %></p>

<%= image_tag @mechanic.avatar.url(:medium) %><br>
<p>
  <strong>Lastname:</strong>
  <%= @mechanic.lastname %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @mechanic.firstname %>
</p>

<p>
  <strong>Middlename:</strong>
  <%= @mechanic.middlename %>
</p>

<p>
  <strong>Type:</strong>
  <%= @mechanic.type %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @mechanic.skills %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @mechanic.shift %>
</p>

<%= link_to 'Edit', edit_mechanic_path(@mechanic) %> |
<%= link_to 'Back', mechanics_path %>
