<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12 col-md-6">
    <%= image_tag @mechanic.avatar.url(:medium) %>
  </div>
  <div class="col-xs-12 col-md-6">
    <h1><strong><%= @mechanic.lastname %></strong></h1>
    <table>
      <tr>
        <td style="padding-right: 10px;"><strong>Position</strong></td>
        <td style="padding-right: 10px;"><%= @mechanic.position %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Skills</strong></td>
        <td style="padding-right: 10px;"><%= @mechanic.skills %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Shift</strong></td>
        <td style="padding-right: 10px;"><%= @mechanic.shift %></td>
      </tr>
    </table>
    <br>
    <%= link_to 'Edit', edit_mechanic_path(@mechanic), :class => "btn btn-default" %>
	<%= link_to 'Back', mechanics_path, :class => "btn btn-default"  %>
  </div>
</div>