<h2>Edit User</h2>
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
<div class="form-inputs">
	<%= f.input :avatar, as: :file %>
    <%= f.input :username, required: true, autofocus: true %>
    <%= f.input :email, required: true, autofocus: true %>
  
    <%= f.input :firstname, required: true %>
    <%= f.input :lastname, required: true%>
    <%= f.input :position, required: true%>
    <%= f.input :role, required: true, collection: ['user','admin'] %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel account", registration_path(@user), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
