<h2>Manage Users</h2>

<div class="row">
	<div class="btn-group pull-right" role="group" aria-label="..." style="padding-top:18px;">
	  <%= link_to '+ User', new_user_path, :class => "btn btn-default" %>
    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCSV" aria-expanded="false" aria-controls="collapseExample">
        Import
      </button>
      <%= link_to "Export", users_path(format: "csv"), :class => "btn btn-default" %> 
	</div>


  <div class="col-xs-12 col-md-3 pull-right">
  <div class="collapse" id="collapseCSV">
    <div class="well">
      <%= form_tag import_users_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Email</th>
      <th>Position</th>
      <th>Type</th>
      <th>Signed in</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.firstname %> <%= user.lastname %></td>
        <td><%= user.email %></td>
        <td><%= user.position %></td>
        <td><%= user.role %></td>
        <td><%= user.current_sign_in_at %></td>
        <td><td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-default btn-raised'  %></td>
        <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-raised'  %></td></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>