<head>
 <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
 <%= stylesheet_link_tag "home" %>
 </head> 
<body>

<center>
  <%= image_tag("002-buses.png" , size: "170x60" )%>
  <h1>Dashboard</h1>
</center>
<h4><span class="badge"><%= pluralize(@buses.in_repair.count, 'bus') %> in repair</span></h4>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-raised btn-primary" %>
  <button type="button" class="btn btn-default openall" id = "openall">Expand All</button>
  <button type="button" class="btn btn-default openall" id = "closeall">Close All</button>
</div>

      <% @buses.each do |bus| %>
        <div class = 'row'>
          <h4><%= bus.bus_no %>
          <%= link_to '<i class="tiny material-icons">info</i>'.html_safe, bus %>
          </h4>
          <!-- Button trigger modal -->
          <!--  <button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#<%= bus.bus_no %>">
              BLOWBAGS
            </button>
          </div> -->

                <!-- Modal 
                      <div class="modal fade" id="<%= bus.bus_no %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                              <h4 class="modal-title" id="myModalLabel">Bus <%= bus.bus_no %></h4>
                            </div>
                            <div class="modal-body">
                                 <div class="checkbox">
                                    <label>
                                      <input type="checkbox"> Battery
                                    </label>
                                    <label>
                                      <input type="checkbox"> Headlight
                                    </label>
                                    <label>
                                      <input type="checkbox"> Brakelight
                                    </label>
                                    <label>
                                      <input type="checkbox"> Signal light
                                    </label>
                                    <label>
                                      <input type="checkbox"> Oil
                                    </label>
                                  </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                          </div>
                        </div>
                      </div> -->


      <% bus.repairs.each do |repair| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">         
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= bus.bus_no %>" aria-expanded="true" aria-controls="collapseOne">
                <div class = 'col-md-3 col-xs-4'>Date Started: <%= repair.datestarted.strftime("%x") %> </div>
                <div class = 'col-md-3 col-xs-4'> Date Finished: <% if !repair.datefinished.nil? %><%= repair.datefinished.strftime("%x") %> <%end%> </div>
                Driver: <% if !repair.driver.nil? %> <%= repair.driver.lastname %> <%end%>
                    <div class = "pull-right"></div>
                <%= link_to '<i class="vertical-align-middle material-icons">mode edit</i>'.html_safe, edit_repair_path(repair)%> 
                <%= link_to '<i class="vertical-align-middle material-icons">delete</i>'.html_safe, repair, method: :delete, data: { confirm: 'Are you sure?' }%>
              </a>
             
          </div>


          <div id="collapse-<%= bus.bus_no %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="style="overflow: auto"">
                  <div class="row-fluid" style="white-space: nowrap;">
                    
                    
                    <div class="list-group">
                    <% repair.jobs.each do |job| %>
                      
                       <div class="list-group-item">
                        <div class="action-primary ">
                          <div class= 'col-md-1 col-xs-1'>
                            <p  id = 'job-<%=job.id%>'>
                             <%= button_to job_start_repair_path(job), 
                             class: 'btn btn-default btn-fab vertical-align-middle', 
                             remote: true do %>
                               <% if job.status == "Not Started" %>
                                  <i class="material-icons">timer</i>
                                <% elsif job.status == "Repairing" %>
                                  <i class="material-icons" >update</i>
                                <% elsif job.status == "Done"  %>
                                  <i class="material-icons" style="color: green;" >done</i>
                                <% end %>
                              </p>
                              <% end %>
                              </div>
                          </div>

                              <div class="row-content">
                                    <div class="action-secondary"><i class="material-icons">info</i></div>
                                    <h4 class="list-group-item-heading"><%= job.jobparticular %></h4>

                                    <p class="list-group-item-text"> 
                                      <p id = 'duration-<%=job.id %>'><%= job.duration %></p>
                                      
                                <% job.job_parts.each do |job_part| %>
                                  <i class="vertical-align-middle material-icons" style = "font-size: 16px;">build</i>
                                  <%= job_part.quantity %> <%= job_part.part.partname %>
                                <% end %>
                                <br>
                                <div></div>
                                  <% job.mechanics.each do |mechanic| %>
                                  <i class="vertical-align-middle material-icons" style = "font-size: 16px;">face</i>
                                  <%= mechanic.lastname%>
                                  <% end %>
                              </div>
                          </p>
                                     
  
                    <div class="list-group-separator"></div>
                      </div>
                      
                    <% end %>
                    </div>
                  
                  <% end %>
                  </div>
                  </div>
            </div> <!-- panel body -->
          </div>
        </div>
      </div>
      <% end %>
      





<script>
$('.btn-fab').click(function(){


  if($(this).find($("i")).text() == 'timer'){
        $(this).find($("i")).text('update')
        console.log($(this).text());
      }
  else if ($(this).find($("i")).text() == 'update'){
    $(this).find($("i")).text('done')
    console.log($(this).text());
    }
  
});
  
</script>