
<p id="notice"><%= notice %></p>
<% javascript_include_tag "homeindex.js" %>


<h1>Maintenance Home</h1>
<h4><%= pluralize((@buses.in_repair.count + @buses.to_repair.count), 'bus') %> (<%= @buses.in_repair.count%> in repair, <%= @buses.to_repair.count%> to repair)</h4> 

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-default" %>
  <button type="button" class="btn btn-default">Expand All</button>
</div>

<div class="row">
  <div class = "col-xs-12 col-md-12">
    <h2>Buses to be Repaired</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @buses.to_repair.each do |bus| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= bus.bus_no %>" aria-expanded="true" aria-controls="collapseOne">
                <%= bus.bus_no %>
                <%= link_to 'View', bus %>
              </a>
            </h4>
          </div>


          <div id="collapse-<%= bus.bus_no %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date Started</th>
                        <th>Date Finished</th>
                        <th>Driver</th>
                        <th>Repair</th>
                        <th>Time Started</th>
                        <th>Time Finished</th>
                        <th>Duration</th>
                        <th>Mechanic</th>
                        <th>Part</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th colspan="5"></th>
                      </tr>
                    </thead>
                    <tbody class="table-hover">
                      <tr>

                        <% bus.repairs.to_finish.each do |repair| %> 
                        <td><%= repair.datestarted %></td>  
                        <td><%= repair.datefinished %></td>
                        <td><%= repair.driver.lastname %> <%= repair.driver.firstname %></td>

                            <% repair.jobs.each do |job| %> 
                            <td><%= job.jobparticular %> </td>
                            <td><%= job.timestarted %> </td>
                            <td><%= job.timefinished %> </td>
                            <td><%= job.duration %> </td>
                            <td><%= job.mechanic.lastname%> <%= job.mechanic.firstname%> </td>
                                                      
                                <% job.job_parts.each do |job_part| %> 
                                <td><%= job_part.part_id %> </td>
                                <td></td>
                                <td><%= job_part.quantity %> </td>
                                <td><%= job_part.cost %> </td>
                                <% end %>
                             <% end %>
                        <% end %>

                        
                       

                        </tr>
                    </tbody>
                  </table>
                </div>
            </div> <!-- panel body -->
          </div>
        </div>
      <% end %>
    </div>
  </div>


    <h3>Visits By Day</h3>
  <%= column_chart Bus.group_by_day_of_week(:created_at, format: "%a").count %>
  </div>



 <% @buses.each do |bus| %>
<div class="modal fade" id="modal-<%= bus.bus_no %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <%= bus.bus_no %>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h3>Bus History</h3>
      <div class="table-responsive">
      <table class="table">
        <thead>
            <tr>
              <th>Date Started</th>
              <th>Date Finished</th>
              <th>Driver</th>
              <th>Repair</th>
              <th>Time Started</th>
              <th>Time Finished</th>
              <th>Duration</th>
              <th>Mechanic</th>
              <th>Part</th>
              <th>Unit</th>
              <th>Quantity</th>
              <th>Price</th>
              <th>Total</th>
              <th colspan="5"></th>
            </tr>
        </thead>

        <tbody class = "table">
          <% bus.repairs.each do |repair| %> 
                  <td><%= repair.datestarted %></td>  
                  <td><%= repair.datefinished %></td>
                  <td><%= repair.driver_id %></td>

              <% repair.jobs.each do |job| %> 
                        <td><%= job.jobparticular %> </td>
                        <td><%= job.timestarted %> </td>
                        <td><%= job.timefinished %> </td>
                        <td><%= job.duration %> </td>
                        <td><%= job.mechanic_id%> </td>
                      

                          <% job.job_parts.each do |job_part| %> 
                            <td><%= job_part.part_id %> </td>
                            <td><%= job_part.quantity %> </td>
                            <td><%= job_part.cost %> </td>
                          <% end %>
            <% end %>
            <% end %>
              

           <!-- </tbody> -->
      </table>
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
       
      </div>
    
    </div>

  </div>

</div>

<% end %>





  <% form_tag repairs_path, method: :post do %>
  <%= submit_tag 'Start Repair' %>
  <% end %>



  <% form_tag repairs_path, method: :post do %>
  <% submit_tag 'End Repair' %>
  <% end %>

  <div class = "col-xs-12 col-md-12">
    <h2>Buses in Repair</h2>
    <div class ="table-responsive">
      <table class = "table">
        <thead>
          <tr>
            <th>Bus</th>
            <th>Bus Number</th>
            <th>Bus Model</th>
            <th>Date Purchased</th>
            <th>Odometer</th>
            <th>Busline</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
        </tbody>

      </table>
    </div>
  </div>
</div> <!-- row -->

