<p id="notice"><%= notice %></p>

<h1>Maintenance Home</h1>
<h4><%= pluralize(@buses.in_repair.count, 'bus') %></h4> 

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-default" %>
  <button type="button" class="btn btn-default">Expand All</button>
</div>

<div class="row">
  <div class = "col-xs-12 col-md-12">
    <br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @buses.in_repair.each do |bus| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= bus.bus_no %>" aria-expanded="true" aria-controls="collapseOne">
                <%= bus.bus_no %>
                <%= link_to 'View', bus %>
              </a>
            </h4>
          </div>


          <div id="collapse-<%= bus.bus_no %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="table-responsive">
                  <% bus.repairs.to_finish.each do |repair| %> 
                  <table class="table">
                     
                    <thead>
                      <p>Date Started: <%= repair.datestarted %> | Date Finished: <%= repair.datefinished %>| Driver: <%= repair.driver.lastname %> <%= repair.driver.firstname %> </p>
                      <tr>
                        <th></th>
                        <th>Repair</th>
                        <th>Time Started</th>
                        <th>Time Finished</th>
                        <th>Duration</th>
                        <th>Mechanic</th>
                        <th>Part</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th colspan="5"></th>
                      </tr>
                    </thead>
                    <tbody class="table-hover">
                      
                            <% repair.jobs.each do |job| %>
                            <tr>
                            <td>
                             <%= button_to job_start_repair_path(job), 
                             class: "btn btn-default",
                             'aria-label'=> "Left Align", 
                             remote: true do %>
                              <p id = 'job-<%=job.id %>'><%= job.status %></p>
                              <% end %> </td>

                            <td><%= job.jobparticular %> </td>
                            <td><p id = 'timestart-<%=job.id %>'>
                              <%= job.timestarted %></p> </td>
                            <td><p id = 'timefinish-<%=job.id %>'>
                            <%= job.timefinished %></p> </td>
                            <td><%= job.duration %> </td>
                            <td><%= job.mechanic.lastname%> <%= job.mechanic.firstname%> </td>
                                                      
                                <% job.job_parts.each do |job_part| %> 
                                <td><%= job_part.part.partname %> </td>
                                <td></td>
                                <td><%= job_part.quantity %> </td>
                                <td><%= job_part.cost %> </td>
                                <% end %>

                             <% end %>
                             </tr>
                        <% end %>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div> <!-- panel body -->
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <% form_tag repairs_path, method: :post do %>
  <% submit_tag 'Start Repair' %>
  <% end %>


  <% form_tag repairs_path, method: :post do %>
  <% submit_tag 'End Repair' %>
  <% end %>


</div> <!-- row -->
