<head>
 <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
 </head> 
<body>
<p id="notice"><%= notice %></p>

<h1>Maintenance Home</h1>
<h4><%= pluralize(@buses.in_repair.count, 'bus') %> in repair</h4> 

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-default" %>
  <button type="button" class="btn btn-default openall" id = "openall">Expand All</button>
  <button type="button" class="btn btn-default openall" id = "closeall">Close All</button>
</div>

<div class="row">
  <div class = "col-xs-12 col-md-12">
    <br>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @buses.each do |bus| %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= bus.bus_no %>" aria-expanded="true" aria-controls="collapseOne">
                Bus <%= bus.bus_no %>
                <%= link_to 'Bus Info', bus, :class => "btn btn-default" %>
              </a>
            </h4>
          </div>


          <div id="collapse-<%= bus.bus_no %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="table-responsive">
                  <% bus.repairs.to_finish.each do |repair| %> 
                  <table class="table">
                     
                    <thead>
                      <span>Date Started: <%= repair.datestarted.strftime("%x") %> | Date Finished: <% if !repair.datefinished.nil? %><%= repair.datefinished.strftime("%x") %> <%end%> | Driver: <% if !repair.driver.nil? %> <%= repair.driver.lastname %> <%end%>

                      <div class="btn-group pull-right" role="group" aria-label="...">
                        <%= link_to 'Edit', edit_repair_path(repair), :class => "btn btn-default"%>
                        <%= link_to 'Delete', repair, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%>
                      </div>
                      </span>
                      <tr>
                        <th></th>
                        <th>Repair</th>
                        <th>Time Started</th>
                        <th>Time Finished</th>
                        <th>Duration</th>
                        <th>Mechanic</th>
                        <th>Part</th>
                        <th>Unit</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                        <th colspan="5"></th>
                      </tr>
                    </thead>
                    <tbody class="table-hover">
                      
                            <% repair.jobs.each do |job| %>
                            <tr>
                            <td>
                             <%= button_to job_start_repair_path(job), 
                             class: "btn btn-default",
                             'aria-label'=> "Left Align", 

                             remote: true do %>
                              <p id = 'job-<%=job.id %>'><%= job.status %></p>
                              <% end %> </td>

                            <td><%= job.jobparticular %> </td>
                            <td><p id = 'timestart-<%=job.id %>'>
                               <% if !job.timestarted.nil? %> <%= job.timestarted.strftime("%X %p") %></p> <% end %></td>
                            <td><p id = 'timefinish-<%=job.id %>'>
                            <% if !job.timefinished.nil? %> <%= job.timefinished.strftime("%X %p") %></p><% end %> </td>
                            <td><p id = 'duration-<%=job.id %>'><%= job.duration %> </td>
                            <td><% job.mechanics.each do |mechanic| %>
                            <%= mechanic.lastname%>
                            <%end%></td>
                                                                         
                                <% job.job_parts.each do |job_part| %> 
                                <td><%= job_part.part.partname %> </td>
                                <td></td>
                                <td><%= job_part.quantity %> </td>
                                <td><%= job_part.cost %> </td>
                                <td><%= job_part.total %> </td></td>
                                <% end %>


                             <% end %>
                             </tr>
                        <% end %>
                        </tr>
                    </tbody>
                  </table>
                </div>
            </div> <!-- panel body -->
          </div>
        </div>
      <% end %>
    </div>
  </div>




