<head>
 <%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
 </head> 
<body>
<p id="notice"><%= notice %></p>


<center>
  <%= image_tag("002-buses.png" , size: "170x60" )%>
  <h1>Dashboard</h1>
</center>
<h4><span class="badge"><%= pluralize(@buses.in_repair.count, 'bus') %> in repair</span></h4>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-default" %>
  <button type="button" class="btn btn-default openall" id = "openall">Expand All</button>
  <button type="button" class="btn btn-default openall" id = "closeall">Close All</button>
</div>

<!-- <div class="row"> -->
      <% @buses.each do |bus| %>
      <!-- <div class = "col-xs-12 col-md-12 col-lg-6"> -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= bus.bus_no %>" aria-expanded="true" aria-controls="collapseOne">
                <%= bus.bus_no %>
                
                
                <%= link_to 'Bus Info', bus, :class => "pull-right" %>
              </a>
            </h4>
          </div>


          <div id="collapse-<%= bus.bus_no %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <div class="table-responsive">
                  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="style="overflow: auto"">
                  <div class="row-fluid" style="white-space: nowrap;">
                    <% bus.repairs.to_finish.each do |repair| %>
                    <p>
                    <br>
                    <span>Driver: <% if !repair.driver.nil? %> <%= repair.driver.lastname %><%end%></span>
                    <div class="btn-group" role="group" aria-label="...">
                    <%= link_to 'Edit', edit_repair_path(repair), :class => 'btn btn-default btn-raised'%>
                    <%= link_to 'Delete', repair, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger btn-raised'%>
                    </div>
                    </p>
                    
                    <% repair.jobs.each do |job| %>
                    
                      <div class="panel panel-default" align="center" style="padding: 10px; height: 200px; width: 200px; display: inline-block;">
                        <%= job.jobparticular %>
                        <%= button_to job_start_repair_path(job), 
                             class: "btn btn-default btn-raised",
                             'aria-label'=> "Center Align", 
                             remote: true do %>
                              <span id = 'job-<%=job.id %>'><%= job.status %><% end %></span>
                        <span id = 'timestart-<%=job.id %>' style="font-size: 10px;"><% if !job.timestarted.nil? %> <%= job.timestarted.strftime("%X %p") %><% end %></span>-<span id = 'timefinish-<%=job.id %>' style="font-size: 10px;">
                            <% if !job.timefinished.nil? %> <%= job.timefinished.strftime("%X %p") %><% end %></span>
                            <br>
                            <% job.job_parts.each do |job_part| %>
                              <span style="font-size: 12px;"><%= job_part.quantity %> <%= job_part.part.partname %>, <%= job_part.cost %></span>
                            <% end %>
                            <br>
                            <% job.mechanics.each do |mechanic| %>
                              <span style="font-size: 12px;"><%= mechanic.lastname%></span>
                            <% end %>

                      </div>
                    
                    <% end %>
                  
                  <% end %>
                  </div>
                  </div>
                </div>
            </div> <!-- panel body -->
          </div>
        </div>
      
      <!-- </div> -->
      <% end %>
<!-- </div> -->