 <html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_javascript_include_tag "chartkick" %>
  </head>

<body onload='report'>
<div class="document">
<form method="get">
<input type="text" class="daterange" id="datepickah"/>
<input type="hidden" name="startDate" id="range_start">
<input type="hidden" name="endDate" id="range_end">
<input type="submit" value="Filter" />
</form>

<!--
<div class="row">
  <div class="col-md-6 col-xs-9">

      <%= button_to "Print as pdf", report_index_path(format: "pdf"), :class => "btn btn-primary button pull-right",:method => :get,target: '_blank'  %>

  </div>
   </div>
<br> -->
<h3> Repair Time </h3>
<div>

<%= line_chart  [
  {name: "Cumulative Time Spent", data: @cumulative},
  {name: "Average Time Spent", data: @avg}],
  xtitle: "Month", ytitle: "Duration in Minutes" %>

</div>


<h3>Repair Frequency Chart</h3>
<div>
  <%= bar_chart @topjobparticular, stacked: true %> 
</div>
  <h3>Visits By Day</h3>
  <div>
    <%= column_chart Bus.group_by_day_of_week(:created_at, format: "%a").count %>
  </div>

  <h3> Duration per Repair </h3>
<div>


    
    <canvas id="myChart"></canvas>

<% @mechanics.each do |mech| %>
<div class="mechanic">
<h3><%= mech.lastname  %></h3>
<table class="table table-striped log">
  <thead>
    <tr>
      <th>Job Particular</th>
      <th>Overall Average Duration (in minutes)</th>
      <th>Mechanic’s Average Duration (in minutes)</th>

    </tr>
  </thead>

  <tbody>
    <% if(params[:startDate].present? && params[:endDate].present?) %>
      <% start_date = Time.zone.parse(params[:startDate])%>
      <%  end_date = Time.zone.parse(params[:endDate])%>
      <% mech.jobs.where("jobs.timefinished >= ? AND jobs.timefinished <= ?", start_date, end_date.end_of_day).group(:jobparticular).each do |mjob|  %>
            <% next if  (@jpart[mjob.jobparticular.to_s].to_f - mjob.duration_minutes.to_f).abs < (@jpart[mjob.jobparticular.to_s].to_f*0.5) %>
            <tr class ="mechtr">  
                <td ><%= mjob.jobparticular  %></td>
                <td><%= @jpart[mjob.jobparticular.to_s]  %></td>
                <td><%= mjob.duration_minutes.to_f  %></td>

            </tr>
            <% end %>
        </tbody>
      </table>
 
    <% else %>

    <% mech.jobs.group(:jobparticular).each do |mjob|  %>

          <% next if  (@jpart[mjob.jobparticular.to_s].to_f - mjob.duration_minutes.to_f).abs < (@jpart[mjob.jobparticular.to_s].to_f*0.5) %>
          <tr class ="mechtr">  
              <td ><%= mjob.jobparticular  %></td>
              <td><%= @jpart[mjob.jobparticular.to_s]  %></td>
              <td><%= mjob.duration_minutes.to_f  %></td>

          </tr>
          <% end %>
      </tbody>
    </table>
        <% end %>
    </div> 
     <% end %> 
</div> 






<!--     <canvas id="myChart"></canvas> -->

    <!-- Need to make duration work -->
  <!--   pwede ruby in javacript -->
  <!-- learn to put in an array. Once in n array then put inside javascript -->
  <!-- you can loop javscript -->
  </div>
</div>


<h3>Cost Per Kilometer</h3>



</body>
</html>

  <script>
  <% duration = 0 %>
  <%@buses.each do |bus|%>
	  <% bus.repairs.each do |repair| %>
	  	<%= repair.datefinished.to_i - repair.datestarted.to_i %>
	  <% end %>
  <% end %>


  var js_array2 = <%= raw Bus.pluck(:bus_no).to_json %>;
  var ctx = document.getElementById("myChart").getContext('2d');
	var myChart = new Chart(ctx, {
	  type: 'bar',
	  data: {
	    labels: js_array2,
	    datasets: [{
	      label: 'Duration',
	    }, {
	      data: [  <%@buses.each do |bus|%>
	  <% bus.repairs.each do |repair| %>
	  	<%= (repair.datefinished.to_i - repair.datestarted.to_i).minutes %>,
	  <% end %>
  <% end %>0]
	    }]
	  }
	});

  </script>






  <script type="text/javascript">
  $(document).ready(function() {
    $('input[class="daterange"]').daterangepicker({
      format: "yyyy-mm-dd"
  }, function(start, end, label) {
    console.log("New date range selected:" + start.format('YYYY-MM-DD') + " to " + end.format('YYYY-MM-DD'));
          document.getElementById("range_start").value = start.format('YYYY-MM-DD');
         document.getElementById("range_end").value = end.format('YYYY-MM-DD');
  })
    .on('changeDate', function(ev){
   var range = $("#datepickah").daterangepicker("getRange");

  });
    ;

    $(".mechanic").each(function() {
        if ($(this).find(".mechtr").length == 0) {
            console.log("ur mom");  
            $(this).hide();
        }
    });
  });
  </script>

