<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-3 col-md-6">
  <h1>Drivers</h1>
  </div>

  <div class="col-md-6 col-xs-9">
    <div class="btn-group pull-right" role="group" aria-label="..." style="padding-top:18px;">
      <%= link_to 'Mechanics', mechanics_path, :class => 'btn btn-default' %>
      <%= link_to '+ Driver', new_driver_path, :class => 'btn btn-default'  %>
      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCSV" aria-expanded="false" aria-controls="collapseExample">
        Import
      </button>
    </div>
  </div>

  <div class="col-xs-12 col-md-3 pull-right">
  <div class="collapse" id="collapseCSV">
    <div class="well">
      <%= form_tag import_drivers_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Lastname</th>
      <th>Firstname</th>
      <th>Middlename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= image_tag driver.avatar.url(:thumb) %></td>
        <td><%= driver.lastname %></td>
        <td><%= driver.firstname %></td>
        <td><%= driver.middlename %></td>
        <td><%= link_to 'View', driver, :class => 'btn btn-default'  %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver), :class => 'btn btn-default'  %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

