<p id="notice"><%= notice %></p>
<%= image_tag @driver.avatar.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @driver.lastname %>
</p>




<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
