<%= simple_form_for @bus do |f| %>
  <% if bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% bus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :bus_no %>
  <%= f.association :BusModel, label_method: :brand, value_method: :id, include_blank: false %>

  <%= f.input :plate_no %>
  <%= f.input :date_purchased %>
  <%= f.input :odometer %>
  <%= f.association :BusLine, label_method: :linename, value_method: :id, include_blank: false %>

<%= f.input :cpk %>
<%= f.input :avatar, as: :file %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
