<%= form_for(bus) do |f| %>
  <% if bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% bus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus_no %>
    <%= f.text_field :bus_no %>
  </div>

  <div class="field">
    <%= f.label :BusModel_id %>
     <%= f.collection_select :BusModel_id, BusModel.order(:brand), :id, :brand,  include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :plate_no %>
    <%= f.text_field :plate_no %>
  </div>

  <div class="field">
    <%= f.label :date_purchased %>
    <%= f.datetime_select :date_purchased %>
  </div>

  <div class="field">
    <%= f.label :odometer %>
    <%= f.text_field :odometer %>
  </div>

  <div class="field">
    <%= f.label :BusLine_id %>
     <%= f.collection_select :BusLine_id, BusLine.order(:linename), :id, :linename, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :cpk %>
    <%= f.text_field :cpk %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
