<%= simple_form_for @bus do |f| %>
  <% if bus.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus.errors.count, "error") %> prohibited this bus from being saved:</h2>

      <ul>
      <% bus.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :bus_no %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= f.association :bus_model, label_method: :brand, value_method: :id, include_blank: false, label: "Bus Model" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :plate_no %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= f.input :date_purchased %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :odometer %>
    </div>

  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= f.association :bus_line, label_method: :linename, value_method: :id, include_blank: false, label: "Bus Line" %>
    </div>
   
    <div class="col-xs-12 col-md-12">
      <!-- <span class="btn btn-default btn-file"> -->
      <%= f.input :avatar, as: :file %>
      <!-- </span> -->
    </div>
   </div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-default' %>
  </div>
<% end %>