<p id="notice"><%= notice %></p>

<h1>Buses</h1>

<%= link_to 'Add Bus', new_bus_path %><br>
<%= link_to 'Add Bus Model', new_bus_model_path %><br>
<%= link_to 'Add Bus Line', new_bus_line_path %><br>

<%= link_to 'Bus Lines', bus_lines_path %><br>
<%= link_to 'Models', bus_models_path %>

<table>
  <thead>
    <tr>
      <th>Bus Model</th>
      <th>Plate No.</th>
      <th>Date Purchased</th>
      <th>Repair</th>
      <th>Odometer</th>
      <th>Busline</th>
      <th>Cpk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.BusModel %></td>
        <td><%= bus.plate_no %></td>
        <td><%= bus.date_purchased %></td>
        <td><%= bus.Repair %></td>
        <td><%= bus.odometer %></td>
        <td><%= bus.BusLine %></td>
        <td><%= bus.cpk %></td>
        <td><%= link_to 'Show', bus %></td>
        <td><%= link_to 'Edit', edit_bus_path(bus) %></td>
        <td><%= link_to 'Destroy', bus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


