<p id="notice"><%= notice %></p>

<div class="row">

<div class="col-md-6 col-xs-3">
<h1>Buses</h1>
</div>


<div class="col-md-6 col-xs-9">
<div class="btn-group pull-right" role="group" aria-label="..." style="padding-top:18px;">
  <%= link_to '+ Bus', new_bus_path, :class => "btn btn-default" %>
  <%= link_to '+ Bus Model', new_bus_model_path, :class => "btn btn-default"  %>
  <%= link_to '+ Bus Line', new_bus_line_path, :class => "btn btn-default"  %>
  <%= link_to 'Bus Lines', bus_lines_path, :class => "btn btn-default"  %>
  <%= link_to 'Models', bus_models_path, :class => "btn btn-default"  %>
  <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCSV" aria-expanded="false" aria-controls="collapseExample">
        Import
      </button>
  <%= link_to "Export", buses_path(format: "csv"), :class => "btn btn-default" %> 
</div>
</div>

</div>


<div class="row">
  <div class="col-xs-12 col-md-3 pull-right">
  <div class="collapse" id="collapseCSV">
    <div class="well">
      <%= form_tag import_buses_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV", :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<br>

<div class="row">

<div class="col-md-2 col-xs-3">
  <input type="text" id="busindexsearch" onkeyup="busindexfxn0()" class="form-control" placeholder="Search Bus No.">
</div>
<!--
<div class="col-md-2 col-xs-3">
  <input type="text" id="busindexsearch1" onkeyup="busindexfxn1()" class="form-control" placeholder="Search Plate No.">
</div>
-->
<div class="col-md-2 col-xs-3">
  <input type="text" id="busindexsearch2" onkeyup="busindexfxn2()" class="form-control" placeholder="Search Model">
</div>
<!--
<div class="col-md-2 col-xs-3">
  <input type="text" id="busindexsearch3" onkeyup="busindexfxn3()" class="form-control" placeholder="Search Line">
</div>
-->
<!-- 
<div class="col-md-2 col-xs-4">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%;">
      Model: All
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">All</a></li>
      <li role="separator" class="divider"></li>
      <% @buses.each do |bus| %>
      <li><a href="#"><%= bus.bus_model.brand %></a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="col-md-2 col-xs-4">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="width:100%;">
      Line: All
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">All</a></li>
      <li role="separator" class="divider"></li>
      <% @buses.each do |bus| %>
      <li><a href="#"><%= bus.bus_line.linename %></a></li>
      <% end %>
    </ul>
  </div>
</div>


<div class="col-md-2 col-xs-4">
  <a href="#">Advanced Filters</a>
</div>
-->

</div>

<div class="table-responsive">
<table class="table" id="busindextable">
  <thead>
    <tr>
      <!-- <th>Image</th> -->
      <th>Bus No.</th>
      <th>Plate No.</th>
      <th>Model</th>
      <th>Line</th>
      <th>Date Purchased</th>
      <th>Odometer</th>
      <th>Status</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @buses.each do |bus| %>
      <tr>
        <!-- <td><%= image_tag bus.avatar.url(:thumb) %></td> -->
        <td><%= link_to bus.bus_no, bus %></td>
        <td><%= bus.plate_no %></td>
        <td><%= bus.bus_model.brand %></td>
        <td><%= bus.bus_line.linename %></td>
        <td><%= bus.date_purchased %></td>
        <td>
          <!-- <%= button_to odometer_add_bus_path(bus), class: "btn btn-default", remote: true do %>+<% end %> -->
          <div id = "odometer-<%= bus.id %>"><%= bus.odometer %></div>
          <!-- <%= button_to odometer_subtract_bus_path(bus), class: "btn btn-default", remote: true do %>-<% end %> -->
        </td>
        <td><%= bus.status %></td>
        <!-- <td><%= link_to 'Bus Info', bus, :class => "btn btn-default" %></td> -->
        <td><%= link_to 'Edit', edit_bus_path(bus), :class => "btn btn-default"  %></td>
        <td><%= link_to 'Delete', bus, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<script>
function busindexfxn0() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("busindexsearch");
  filter = input.value.toUpperCase();
  table = document.getElementById("busindextable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td");
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
/*
function busindexfxn1() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("busindexsearch1");
  filter = input.value.toUpperCase();
  table = document.getElementById("busindextable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
*/
function busindexfxn2() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("busindexsearch2");
  filter = input.value.toUpperCase();
  table = document.getElementById("busindextable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
/*
function busindexfxn3() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("busindexsearch");
  filter = input.value.toUpperCase();
  table = document.getElementById("busindextable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
*/
</script>

<br>