<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Bus Number: </strong>
  <%= @bus.bus_no %>
</p>

<p>
  <strong>Busmodel: </strong>
  <%= @bus.bus_model.brand %>
</p>

<p>
  <strong>Plate no: </strong>
  <%= @bus.plate_no %>
</p>

<p>
  <strong>Date purchased: </strong>
  <%= @bus.date_purchased %>
</p>

<p>
  <strong>Odometer: </strong>
  <%= @bus.odometer %>
</p>

<p>
  <strong>Busline: </strong>
  <%= @bus.bus_line.linename %>
</p>

<p>
  <strong>Cost/KM: </strong>
  <%= @bus.cpk %>
</p>

<p>
  <strong>Picture: </strong>
  <%= image_tag @bus.avatar.url(:medium), class: "img-responsive" %>
</p>

<%= link_to 'Edit', edit_bus_path(@bus), :class => "btn btn-primary" %>
<%= link_to 'Back', buses_path, :class => "btn btn-primary"  %>

<h3>Bus History</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Date Started</th>
      <th>Date Finished</th>
      <th>Repair Type</th>
      <th>Driver</th>
      <th>Repair</th>
      <th>Status</th>
      <th>Time Started</th>
      <th>Time Finished</th>
      <th>Duration</th>
      <th>Mechanic</th>
      <th>Part</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
      <th colspan="5"></th>
    </tr>
  </thead>

<tbody class="table-hover">
    <% @bus.repairs.each do |repair| %> 
      <td><%= repair.datestarted %> </td>
      <td><%= repair.datefinished %> </td>
      <td><%= repair.repairtype %></td> 
      <td><%= repair.driver.lastname %><%= repair.driver.firstname %> </td>

        <% repair.jobs.each do |job| %> 
          <td><%= job.jobparticular %> </td>
          <td><%= job.done %> </td>
          <td><%= job.timestarted %> </td>
          <td><%= job.timefinished %> </td>
          <td><%= job.duration %> </td>
          <td><%= job.mechanic_id%> </td>
        

            <% job.job_parts.each do |job_part| %> 
              <td><%= job_part.part_id %> </td>
              <td>  </td>
              <td><%= job_part.quantity %> </td>
              <td><%= job_part.cost %> </td>
              <td>   </td>
          <% end %>
          
        <% end %>
    <% end %>
  </tbody>
</table>
</div>