<p id="notice"><%= notice %></p>

<p>
  <strong>Busmodel:</strong>
  <%= @bus.BusModel.brand %>
</p>

<p>
  <strong>Plate no:</strong>
  <%= @bus.plate_no %>
</p>

<p>
  <strong>Date purchased:</strong>
  <%= @bus.date_purchased %>
</p>

<p>
  <strong>Odometer:</strong>
  <%= @bus.odometer %>
</p>

<p>
  <strong>Busline:</strong>
  <%= @bus.BusLine.linename %>
</p>

<p>
  <strong>Cpk:</strong>
  <%= @bus.cpk %>
</p>

<%= image_tag @bus.avatar.url(:medium), class: "img-responsive" %>

<%= link_to 'Edit', edit_bus_path(@bus) %> |
<%= link_to 'Back', buses_path %>

<h3>Bus History</h3>
<% @bus.repairs.each do |repair| %> 
  <%= repair.datestarted %> 
<% end %>