<body>

<%= simple_form_for(@repair) do |f| %>
 <%= f.error_notification id: 'user_error_message', class: 'form_error'%>
 <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <br>
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6">
          <%= f.input :bus_id, label: "Bus No.", 
          label_method: :bus_no, 
          collection: @buses, 
          input_html: {class: "bus-selectize selectabuzz"} %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#bhismodal">
            Bus History
          </button>
      </div>  
    
      <div class="col-xs-6 col-md-6 col-lg-6">
          <%= f.input :driver_id, label: "Driver",
          collection: @drivers,
          label_method: :lastname,
          input_html: {class: 'driver-selectize'} %>
      </div>
    </div>

    <h3>Repairs</h3>

    <div class='links' style="padding-bottom:10px;">
       <%= link_to_add_association 'Add Repair', f, :jobs, :partial => 'jobs_fieldsadd', :render_options => {:bootstrap => 'inline'}, :class => "btn btn-success" %>
    </div>

  <div class="actions">
    <%= f.submit :Submit, class: "btn btn-default" %>
  </div>
<% end %>

</body>

<script>
$('document').ready(function() {

  $('.bus-selectize').selectize({

  }).on('change', function(){
    var s = $(this).val()
    e = s.toString().length;
    console.log("ur mom");
    e > 0 ? $.ajax({
        method: "GET",
        url: "/bushistory/",
        data: {bn:s},
        dataType: "json",
        success: function(s) {
            s != null ? ($("#bhis").empty(),
               $("#norepair").empty(),
            $.each(s, function (i, v) {

              var stuff = '<div class="panel panel-default" id="removemepls" style="padding: 10px;"><div class="table-responsive "><table class="table"><thead><span>'
              var stuff2 = ' '
              var stuff3 = ' </span><tr><th>Repair</th><th>Duration</th><th>Part Name</th><th>Quantity</th></tr></thead><tbody class="table-hover">'
              var stuff4 = ''
             
              $.each(s[i].jobs, function (index, value){ 
                console.log("why is nothing happening");
                stuff4 += '<tr><td>' + s[i].jobs[index].jobparticular + '</td><td>' + s[i].jobs[index].duration + ' seconds' + '</td>'
                $.each(s[i].jobs[index].job_parts, function(h, c){
                  stuff4 += '<td>' + s[i].jobs[index].job_parts[h].part.partname + '</td><td>' + s[i].jobs[index].job_parts[h].quantity + s[i].jobs[index].job_parts[h].part.unit
                })
                stuff4+= '</td></tr>'
              })
                var stuff5 = '</tbody></table></div></div>'
               $("#bhis").append(stuff + stuff2 + stuff3 +stuff4 +stuff5);
            }
            ))


 : ($("#bhis").empty(),
               $("#norepairs").empty(),
                $("#bhis").append('<p id="norepairs">No Repairs</p>'))
        }
    }) : null
});

   $('.driver-selectize').selectize({

  
  });

   $('form').on('cocoon:after-insert', function(e, addedItem) {
  $(addedItem).find('.mechanic-selectize').selectize({
     delimiter: ','
  })
  $(addedItem).find('.job-selectize').selectize({
     create: true
  })
});

});
</script>

<!-- Modal -->
<div class="modal fade" id="bhismodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Bus History</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>