<%= simple_form_for(@repair) do |f| %>
 <%= f.error_notification id: 'user_error_message', class: 'form_error'%>
 <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  <% if repair.errors.any? %>
      <ul>
      <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  
    <%= f.label :Bus_id %>
    <%= f.collection_select :Bus_id, Bus.order(:bus_no), :id, :bus_no, include_blank: true %>
  </div>
    <%= f.input :jobcard_num %>
    <%= f.input :datestarted %>
    <%= f.input :datefinished %>


    <%= f.collection_select :Driver_id, Driver.order(:lastname), :id, :lastname, include_blank: true %>
  

    <%= f.input :location %>
    <%= f.input :repairtype %>  

<h3>Repairs</h3>


<div id='jobs'>
    <%= f.fields_for :jobs do |job| %>
      <%= render 'repairs/jobs_fields', :f => job %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Repair', f, :jobs, :partial => 'jobs_fields', :render_options => {:bootstrap => 'inline'} %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
