<head>
<%= stylesheet_link_tag "BootSideMenu" %>
<%= javascript_include_tag "BootSideMenu" %>
</head>
<body>

<%= simple_form_for(@repair) do |f| %>
 <%= f.error_notification id: 'user_error_message', class: 'form_error'%>
 <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      <br>

<div id="test" class="sidenav">
  <div class="container">
  <h3>Bus History</h3>
   <div id="bhis">
   </div>
 </div>
</div>



<div class = "row">
      <div class="col-xs-12 col-md-6 col-lg-6">
          <%= f.input :bus_id, label: "Bus No.", 
          label_method: :bus_no, 
          collection: @buses, 
          input_html: {class: "bus-selectize selectabuzz"}, required: true %>
      </div>

      <div class="col-xs-12 col-md-6" >
        <%= f.input :driver_id, label: "Driver",
          collection: @drivers,
          label_method: :lastname,
          input_html: {class: 'driver-selectize'} %>
      </div>
</div>
<h3>Repairs</h3>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
       <%= link_to_add_association '+ Job', f, :jobs, :partial => 'jobs_fieldsadd', :render_options => {:bootstrap => 'inline'}, :class => "btn btn-success btn-raised" %>
  </div>
</div>
<div class="row">
 <div class="col-xs-12 col-md-12 col-lg-12">
  <div class="actions">
    <%= f.submit :Submit, class: "btn btn-default btn-lg btn-block btn-raised" %>
  </div>
</div>
</div>

<% end %>

</body>

<script>
$(document).on("ready page:load", function(){

   $('#test').BootSideMenu({
        side: "right",
        pushBody: false,
        remember: false
    });

  $('.bus-selectize').selectize({

  }).on('change', function(){
    var s = $(this).val()
    e = s.toString().length;
    e > 0 ? $.ajax({
        method: "GET",
        url: "/bushistory/",
        data: {bn:s},
        dataType: "json",
        success: function(s) {
            s != null ? ($("#bhis").empty(),
               $("#norepair").empty(),
            $.each(s, function (i, v) {

              var stuff = '<div class="panel panel-default" id="removemepls" style="padding: 10px;"><div class="table-responsive "><table class="table"><thead><span>'
              var stuff2 = ' '
              var stuff3 = ' </span><tr><th>Repair</th><th>Duration</th><th>Mechanic</th><th>Part Name</th><th>Quantity</th></tr></thead><tbody class="table-hover">'
              var stuff4 = '<tr>Date Started: ' + s[i].datestarted + ' | Date Finished: ' + s[i].datefinished+ '</tr>'
              

             
              $.each(s[i].jobs, function (index, value){ 
                stuff4 += '<tr><td>' + s[i].jobs[index].jobparticular + '</td><td>' + s[i].jobs[index].duration + '</td>'
                stuff4 += '<td>'

                $.each(s[i].jobs[index].mechanics, function(h, c){
                  
                  if (h == 0) {
                      stuff4 += s[i].jobs[index].mechanics[h].lastname
                  } else { 
                      stuff4 += ', '+s[i].jobs[index].mechanics[h].lastname  
                  }
                })
                stuff4 += '</td>'
                $.each(s[i].jobs[index].job_parts, function(h, c){
                  stuff4 += '<td>' + s[i].jobs[index].job_parts[h].part.partname + '</td><td>' + s[i].jobs[index].job_parts[h].quantity + s[i].jobs[index].job_parts[h].part.unit
                })
                stuff4+= '</td></tr>'
              })
                var stuff5 = '</tbody></table></div></div>'
               $("#bhis").append(stuff + stuff2 + stuff3 +stuff4 +stuff5);
            }
            ))


 : ($("#bhis").empty(),
               $("#norepairs").empty(),
                $("#bhis").append('<p id="norepairs">No Repairs</p>'))
        }
    }) : null
});

   $('.driver-selectize').selectize({

  
  });

   $('form').on('cocoon:after-insert', function(e, addedItem) {
  $(addedItem).find('.mechanic-selectize').selectize({
     delimiter: ',',
     plugins: ['remove_button']

     
  })
  $(addedItem).find('.job-selectize').selectize({
     create: true
  })
});







});

</script>

