<%= simple_form_for(repair) do |f| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :Bus_id %>
    <%= f.text_field :Bus_id %>
</div>

  <div class="field">
    <%= f.label :datestarted %>
    <%= f.datetime_select :datestarted %>
  </div>

  <div class="field">
    <%= f.label :datefinished %>
    <%= f.datetime_select :datefinished %>
  </div>

  <div class="field">
    <%= f.label :Driver_id %>
    <%= f.collection_select :Driver_id, Driver.order(:lastname), :id, :firstname, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :repairtype %>
    <%= f.text_field :repairtype %>
  </div>

<h3>Repairs</h3>


<div id='jobs'>
    <%= f.fields_for :jobs do |job| %>
      <%= render 'repairs/jobs_fields', :f => job %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Repair', f, :jobs, :partial => 'jobs_fields', :render_options => {:bootstrap => 'inline'} %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
