<%= simple_form_for(@repair) do |f| %>
 <%= f.error_notification id: 'user_error_message', class: 'form_error'%>
 <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

  <% if repair.errors.any? %>
      <ul>
      <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  <% end %>

  
    
    <%= f.association :Bus, label_method: :bus_no, value_method: :id, include_blank: false %>
    <%= f.input :jobcard_num %>
    <%= f.input :datestarted %>
    <%= f.input :datefinished %>

    <%= f.association :Driver, label_method: :lastname, value_method: :id, include_blank: false %>

    <%= f.input :location %>
    <%= f.input :repairtype %>  

<h3>Repairs</h3>


<div id='jobs'>
    <%= f.fields_for :jobs do |job| %>
      <%= render 'repairs/jobs_fields', :f => job %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Repair', f, :jobs, :partial => 'jobs_fields', :render_options => {:bootstrap => 'inline'} %>
    </div>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
