
<div class='nested-fields'>
     <%= f.input :jobparticular %>
     <%= f.input :timestarted %>
     <%= f.input :timefinished %>
     <%= f.association :mechanic, label_method: :lastname, value_method: :id, include_blank: false %>

    <div id='job-parts'>
    <%= f.fields_for :job_parts do |job_parts| %>
      <%= render 'repairs/job_parts_fields', :f => job_parts %>
    <% end %>
    
    <div class='links'>
      <%= link_to_add_association 'Add Part', f, :job_parts, :partial => 'job_parts_fields', :render_options => {:bootstrap => 'inline'}, :class => "btn btn-default" %>
    </div>

  </div>

    <div class="field">
      <%= f.input :done, :as => :boolean %>
    </div>

    <%= link_to_remove_association "Remove Task", f, :class => "btn btn-default" %>
  </div>
  
