<div class='nested-fields'>
  <div class="well" style="padding: 10px;">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= f.input :jobparticular, label: "Job Particulars" %>
    </div>

     <section id="result"></section> 
     
    <div class="col-xs-12 col-md-6">
      <%= f.input :mechanic_ids, label: "Mechanic",
        collection: @mechanics,
        label_method: :lastname, 
        input_html: {class: 'mechanic-selectize', multiple: true} %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-6">
      <!-- <%= f.input :timestarted, label: "Time Started", :as => :datetime_picker  %> -->
      <%= f.input :timestarted, :as => 'datetime' ,:label => 'Time Started', input_html: { class: 'datetime_picker' } %>
    </div>
    <div class="col-xs-6 col-md-6">
      <!-- <%= f.input :timefinished, label: "Time Finished", :as => :datetime_picker  %> -->
      <%= f.input :timefinished, :as => 'datetime' ,:label => 'Time Finished', input_html: { class: 'datetime_picker' } %>
    </div>
  </div>

  <div class="field">
    <%= f.input :status, label: "Status", collection: ["Not Started", "Repairing", "Done"], allow_blank: false %>
  </div>

    <div id='job-parts'>
    <%= f.fields_for :job_parts do |job_parts| %>
      <%= render 'repairs/job_parts_fields', :f => job_parts %>
    <% end %>
    
    <div class='links' style="padding-bottom:10px;">
      <%= link_to_add_association 'Add Part', f, :job_parts, :partial => 'job_parts_fields', :render_options => {:bootstrap => 'inline'}, :class => "btn btn-success" %>
    </div>

  </div>

    <%= link_to_remove_association "Remove Task", f, :class => "btn btn-danger" %>

  </div>
</div>
  
