<p id="notice"><%= notice %></p>

<h1>Maintenance Home</h1>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-default" %>
  <button type="button" class="btn btn-default">Expand All</button>
</div>


<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Date Started</th>
      <th>Date Finished</th>
      <th>Repair Type</th>
      <th>Driver</th>
      <th>Bus</th>
      <th>Location</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.datestarted %></td>
        <td><%= repair.datefinished %></td>
        <td><%= repair.repairtype %></td>
        <td><%= repair.driver.lastname %></td>
        <td><%= repair.bus.bus_no %></td>
        <td><%= repair.location %></td>
        <td><%= link_to 'View', repair, :class => "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_repair_path(repair), :class => "btn btn-warning"%></td>
        <td><%= link_to 'Delete', repair, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>


