<p id="notice"><%= notice %></p>

<h1>Maintenance Home</h1>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><%= link_to 'Add Job Card', new_repair_path %></button>
  <button type="button" class="btn btn-default">Expand All</button>
</div>



<table>
  <thead>
    <tr>
      <th>Date Started</th>
      <th>Date Finished</th>
      <th>Repair Type</th>
      <th>Driver</th>
      <th>Bus</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.datestarted %></td>
        <td><%= repair.datefinished %></td>
        <td><%= repair.repairtype %></td>
        <td><%= repair.Driver.lastname %></td>
        <td><%= repair.Bus.bus_no %></td>
        <td><%= repair.location %></td>
        <td><%= link_to 'Show', repair %></td>
        <td><%= link_to 'Edit', edit_repair_path(repair) %></td>
        <td><%= link_to 'Destroy', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


