
    <div class="btn-group pull-right" role="group" aria-label="..." style="padding-top:18px;">
      <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseCSV" aria-expanded="false" aria-controls="collapseExample">
        Import
      </button>
      
    </div>



<div class="row">
  <div class="col-xs-12 col-md-3 pull-right">
  <div class="collapse" id="collapseCSV">
    <div class="well">
      <%= form_tag import_repairs_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV", :class => "btn btn-default" %>
      <% end %>
    </div>
  </div>
  </div>
</div>
<br>


<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Date Started</th>
      <th>Date Finished</th>
      <th>Repair Type</th>
      <th>Driver</th>
      <th>Bus</th>
      <th>Location</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.done %></td>
        <td><%= repair.datestarted %></td>
        <td><%= repair.datefinished %></td>
        <td><%= repair.repairtype %></td>
        <td><%= repair.driver.lastname %></td>
        <td><%= repair.bus.bus_no %></td>
        <td><%= repair.location %></td>
        <td><%= link_to 'View', repair, :class => "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_repair_path(repair), :class => "btn btn-default"%></td>
        <td><%= link_to 'Delete', repair, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>