<p id="notice"><%= notice %></p>

<p>
  <strong>Datestarted:</strong>
  <%= @repair.datestarted %>
</p>

<p>
  <strong>Datefinished:</strong>
  <%= @repair.datefinished %>
</p>

<p>
  <strong>Repairtype:</strong>
  <%= @repair.repairtype %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @repair.driver_id %>
</p>

<p>
  <strong>Bus:</strong>
  <%= @repair.bus_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @repair.location %>
</p>

<p>
  <strong>Job Card Number:</strong>
  <%= @repair.jobcard_num %>
</p>

<h3>Repairs</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Repair</th>
      <th>Time Started</th>
      <th>Time Finished</th>
      <th>Duration</th>
      <th>Mechanic</th>
      <th>Part</th>
      <th>Unit</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @repair.jobs.each do |job| %>
      <tr>
        <td><%= job.done %></td>
        <td><%= job.jobparticular %></td>
        <td><%= job.timestarted %></td>
        <td><%= job.timefinished %></td>
        <td><%= job.duration %></td>
        <td><%= job.mechanic_id %></td> 
          <% job.job_parts.each do |part| %>
          <td><%= part.part_id %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= link_to 'Edit', edit_repair_path(@repair), :class => "btn btn-default", label: "Wiew"%>
<%= link_to 'Back', repairs_path, :class => "btn btn-default" %>
