<div class="row">
  <div class="col-xs-12 col-md-6">
    <h1><strong><%= @repair.jobcard_num %></strong></h1>
    <table>
      <tr>
        <td style="padding-right: 10px;"><strong>Date started</strong></td>
        <td style="padding-right: 10px;"><%= @repair.datestarted %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Date finished</strong></td>
        <td style="padding-right: 10px;"><%= @repair.datefinished %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Repair type</strong></td>
        <td style="padding-right: 10px;"><%= @repair.repairtype %></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Driver</strong></td>
        <td style="padding-right: 10px;"><% if !@repair.driver.nil?%><%= @repair.driver.lastname %><%end%></td>
      </tr>
      <tr>
        <td style="padding-right: 10px;"><strong>Bus</strong></td>
        <td style="padding-right: 10px;"><%= @repair.bus.bus_no %></td>
      </tr>
    </table>
  </div>
</div>

<h3>Repairs</h3>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Repair</th>
      <th>Time Started</th>
      <th>Time Finished</th>
      <th>Duration</th>
      <th>Mechanic</th>
      <th>Part</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-hover">
    <% @repair.jobs.each do |job| %>
      <tr>
        <td><%= job.status %></td>
        <td><%= job.jobparticular %></td>
        <td><%= job.timestarted %></td>
        <td><%= job.timefinished %></td>
        <td><%= job.duration %></td>
        <td><% job.mechanics.each do |mechanic| %>
          <%= mechanic.lastname%>
          <%end%>
        </td> 
          <% job.job_parts.each do |jobpart| %>
          <td>
            <% if !jobpart.part.nil? %>
              <%= jobpart.part.partname %>
            <% else %>
              N/A
            <% end %>
          </td>
            <td><%= jobpart.quantity %><% if !jobpart.part.nil? %><%= jobpart.part.unit %><% end %></td>
            <td><%= jobpart.cost %></td>
            <td><%= jobpart.total %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Add Job Card', new_repair_path, :class => "btn btn-default", label: "Wiew"%>
<%= link_to 'Edit', edit_repair_path(@repair), :class => "btn btn-default", label: "Wiew"%>
<%= link_to 'Back to Home', root_path, :class => "btn btn-default" %>
<%= link_to 'Back to Repairs', repairs_path, :class => "btn btn-default" %>

