<!DOCTYPE html>
<html>
  <head>
    <title>PRBL Maintenance System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <!-- Bootstrap -->
  <nav class="navbar navbar-default navbar-fixed-top white" >
  <div class="container-fluid white">

    <div class="navbar-header white">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><%= image_tag "Rabbit_Logo_Small.png", class:"navbar-brand", id: "header-logo" %></a>
    </div>

    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path%> <span class="sr-only"></span></li>
        <li><%= link_to "Buses", buses_path%> <span class="sr-only"></li>
        <% if (current_user.role == 'admin' || current_user.role == 'accounting')%>
          <li><%= link_to "Report", report_index_path %></li> 
        <%end%>
        <li><%= link_to "Parts", parts_path%> <span class="sr-only"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Personnel<span class="caret"></span></a>
          <ul class="dropdown-menu">           
            <li><%= link_to "Mechanics", mechanics_path %></li>
            <li><%= link_to "Drivers", drivers_path %></li>
          </ul>
        </li>
        <% if current_user.role == 'admin' %>
          <li><%= link_to "Repairs", repairs_path%><span class="sr-only"></li>
        <%end%>
        <% if current_user.role == 'admin' %>
          <li><%= link_to "Users", users_path%><span class="sr-only"></li>
        <%end%>
      </ul>

      
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.firstname%> <%=current_user.lastname%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </div>
    <% end %>
  </div>
  </nav>
  
  <div class="container">
    <%= javascript_tag do %>
      window.flashMessages = $.parseJSON('<%=j flash.to_hash.to_json.html_safe %>');
  <% end %>
    
      <%= yield %>
  </div>


            
  </body>
</html>
<script>

</script>