<!DOCTYPE html>
<html>
  <head>
    <title>PRBL Maintenance System</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Bootstrap -->
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">PRBL Maintenance</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", root_path%> <span class="sr-only"></span></li>
        <li><%= link_to "Buses", buses_path%> <span class="sr-only"></li>
        <li><a href="#">Work Order</a></li>
        <li><a href="#">Report</a></li>
        <li><%= link_to "Parts", parts_path%> <span class="sr-only"></li>
        <li><%= link_to "Personnel", mechanics_path%><span class="sr-only"></li>
        <li><a href="#">Users</a></li>
      </ul>

      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default" style="background-color: #000000; color: #ffffff;">Submit</button>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Details</a></li>
            <li><a href="#">Preferences</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>

  <div class="container">
      <%= yield %>
  </div>

  <nav class="navbar navbar-default navbar-fixed-bottom" style="background-color:#d5d5d5; border-color:#a5a5a5;">
    <div class="container">
      <p class="navbar-text navbar-left" style="color:#5c5c5c;">Application by Bandwidth</p>
    </div>
  </nav>
            
  </body>
</html>
